<section class="about container">
    <p class="about-lable">tradition and love</p>
    <h2 class="about-title section-title">how it’s made?</h2>
    <img src="" class="about-picture" alt="picture jug of milk and a cow on background">
    <article class="about-article">
        <h4 class="about-article-heading">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
            faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</h4>
        <p class="about-article-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
            placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="btn">Read more</button>
    </article>

</section>