<section class="advantages-section advantages">
<div class="container">
    <ul class="advantages__list dvantages-list">
        <li>
            <svg class="advantages-list__icons">
                <use href="" width="20" height="20">
                </use>
            </svg>
            <p class="advantages-list__number">721</p>
            <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <svg class="advantages-list__icons">
                <use href="" width="20" height="20">
                </use>
            </svg>
            <p class="advantages-list__number">16kg</p>
            <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <svg class="advantages-list__icons">
                <use href="" width="20" height="20">
                </use>
            </svg>
            <p class="advantages-list__number">84</p>
            <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>