<article class="container review">
  <h2 class="visually-hidden">Icecream customer reviews</h2>
  <img
    class="review__photo"
    srcset="./images/review-photo.png 1x, ./images/review-photo@2x.png 2x"
    src="./images/review-photo.png"
    alt="Photo of customer"
  />
  <div class="review__wrapper">
    <p class="review__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>

  <p class="review__name">Emily, Los Angeles</p>
</article>
