<footer class="footer-project footer">
    <div class="container">
        <div class="footer__title title-for-footer">
            <p class="title-for-footer__text">
                HOMEMADE ICE CREAM MADE
            </p>
            <h3 class="title-for-footer__title">
                WITH PASSION
            </h3>
        </div>
        <div class="footer__social-block"></div>
        <div class="footer__contact-block contact-for-footer">
            <p class="contact-for-footer__text"> Feel free to contact </p>
            <a href="tel:+380961111111" class="contact-for-footer__link link"> +61 (0) 383 766 284 </a>
        </div>
        <div class="footer__copyright copyright-for-footer">
            <p class="copyright-for-footer__text">
                © <time>2019</time> - IceCream.
                All Rights Reserved.
            </p>
        </div>
    </div>
</footer>