<section class="gallery">
    <div class="container">
        <ul>
            <li>
                <picture class="gallery__picture">
                    <source srcset="./images/gallery-1-1/gallery-1-1-d1x-min.png 1x, 
                    ./images/gallery-1-1/gallery-1-1-d2x-min.png 2x" media="(min-width:1280px)">
                    <source srcset="./images/gallery-1-1/gallery-1-1-t1x-min.png 1x, 
                    ./images/gallery-1-1/gallery-1-1-t2x-min.png 2x" media="(min-width:768px)">
                    <source srcset="./images/gallery-1-1/gallery-1-1-m1x-min.png 1x, 
                    ./images/gallery-1-1/gallery-1-1-m2x-min.png 2x" media="(min-width:320px)">
                    <img class="gallery__img"
                        src="./images/gallery-1-1/gallery-1-1-m1x-min.png" alt="Мороженное"
                        aria-label="Мороженное">
                </picture>
            </li>
        </ul>
    </div>
</section>