<header class="header container">
    <a href="./about.html" class="logo"><img src="../images/icecream-logo1x.jpg" alt="icecream logo"></a>
    <button type="button" class="header__btn "><svg class="header__btn__icon"><use href="../images/icons.svg#icon-burger" /></svg></button>
</header>
<section class="hero container">
    <h1 class="hero__title">
        ice cream made with <span class="hero__title__decorate">passion</span> 
    </h1>
    <div class="hero__btn-wrapper">
        <button type="button" class="hero__btn hero__btn__first btn">Products</button>
        <button type="button" class="hero__btn hero__btn__second btn">How it’s made?</button>
    </div>
    <div class="mobile-container">
        <button type="button" class="mobile-container__btn-close"><svg class="btn-close__icon">
            <use href="../images/icons.svg#icon-close" />
        </svg></button>
        <button type="button" class="mobile-container__btn btn">
            Buy now <svg class="mobile-container__btn__icon"><use href="../images/icons.svg#icon-tick" /></svg>
        </button>
        <ul class="mobile-container__menu">
            <li class="mobile-container__item"><a href="" class="mobile-container__link">Home</a></li>
            <li class="mobile-container__item"><a href="" class="mobile-container__link">About us</a></li>
            <li class="mobile-container__item"><a href="" class="mobile-container__link">How it’s made?</a></li>
            <li class="mobile-container__item"><a href="" class="mobile-container__link">Our products</a></li>
            <li class="mobile-container__item"><a href="" class="mobile-container__link">Contact</a></li>           
        </ul>
    </div>
</section>