<div data-modal class="backdrop is-hidden">
    <div class="modal">
        <p class="modal__title">How do we make it</p>
        <p class="modal__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo quidem 
            labore nihil perspiciatis, aut obcaecati aliquid illum? Quibusdam, minus mollitia reprehenderit
             aliquam assumenda officia voluptates fugiat numquam. Voluptates provident quos nesciunt expedita 
             facilis quia, magni quod nobis voluptatibus inventore eos neque tempore eum enim maiores ipsa rem 
             ipsum illo illum nihil ut pariatur ratione. Corrupti quasi delectus sit corporis!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere quo quidem
            </p>
        <button data-modal-close type="button" class="button-modal">
            <svg class="button-modal__icon" weight="11px" height="11px">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>