<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title section-title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products-content ice-cream">
                    <h3 class="products-content__title">ice cream</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                    <span class="products-content__text-none"> dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products-content ice-coffee">
                    <h3 class="products-content__title">ice coffee</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    <span class="products-content__text-none">dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products-content milkshakes">
                    <h3 class="products-content__title">milkshakes</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. 
                        <span class="products-content__text-none">dolore magna aliqua facilisis.</span></p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="15px" height="15px">
                            <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>