<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title section-title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <picture>
                    <source srcset="./images/products-img1-mob-1x.png 1x, 
                                ./images/products-img1-mob-2x.png 2x" media="(min-width:320px)">
                    <img class="products__img" src="./images/products-img1-mob-2x.png" alt="Фото мороженного">
                </picture>
                <div class="products-content">
                    <h3 class="products-content__title">ice cream</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="20px" height="20px">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <picture>
                    <source srcset="./images/products-img2-mob-1x.png 1x, 
                                        ./images/products-img2-mob-2x.png 2x" media="(min-width:320px)">
                    <img class="products__img" src="./images/products-img2-mob-2x.png" alt="Фото кофе с мороженным">
                </picture>
                <div class="products-content">
                    <h3 class="products-content__title">ice coffee</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="20px" height="20px">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <picture>
                    <source srcset="./images/products-img3-mob-1x.png 1x, 
                                        ./images/products-img3-mob-2x.png 2x" media="(min-width:320px)">
                    <img class="products__img" src="./images/products-img3-mob-2x.png" alt="Фото молочного коктейля">
                </picture>
                <div class="products-content">
                    <h3 class="products-content__title">milkshakes</h3>
                    <p class="products-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button type="button" class="products-content__btn">
                        <svg class="products-content__btn-icon" width="20px" height="20px">
                            <use href="./images/icons.svg#icon-tick"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>