.contacts-section-title {
  display: none;
}
.contacts-section {
  background-color: #fff5f6;
}
.contact-container {
  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 768px;
  }
}
.cafe {
  width: 80px;
  height: 16px;
  left: 70px;
  top: 5163px;
  background: #f0d1a5;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
  }
}
.contacts-elements {
  &:not(:first-child) {
    padding-top: 25px;
  }
  &:not(:last-child) {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      padding-top: 30px;
    }
    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}

.contact-section-box__title {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.foodtruck {
  width: 130px;
  height: 16px;
  left: 70px;
  top: 5610px;
  background: #c2e297;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 138px;
    height: 28px;
  }
}
.contact-box-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  color: #000000;
}
.contact-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #907e82;
  @media screen and (min-width: 768px) {
    width: 145px;
    height: 65px;
  }
}
.time-work-item:not(:last-child) {
  margin-bottom: 10px;
}
.time-work-item__day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}
.time-work-item__time {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}
.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contact-section-box {
  width: 220px;
  height: 427px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    height: 544px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
